body {
  --dxio-grey: #f5f6f7; /* Unsure if the custom properties from main.css will be available here, so defining this one here just in case */
  margin: 0 !important;
  background: var(--dxio-grey);
  font-family: Bogle, Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol' !important;
}
